button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.gallery__item {
  overflow: hidden;
  aspect-ratio: 1/1;
  display: flex;
}

.gallery__image {
  /* width: 100%;*/
  /* height: auto; */
  width: auto;
  height: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.gallery__item:hover {
  opacity: 0.8;
}

.gallery__item:hover .gallery__image {
  transform: scale(1.1);
}

/* caja styles */
.caja {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja__image {
  max-width: 90%;
  max-height: 90%;
}

/* Close caja */

.caja__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

.caja__close-button:hover {
  opacity: 0.5;
}
.caja_title {
  font-size: 3rem;
  /*max-width: 100%;*/
  text-align: left;
  font-family: "Henken Grotesk";
}
.caja p {
  font-size: var(--font-md);
  /*max-width: 100%;*/
  text-align: left;
}

.caja__bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
  cursor: pointer;
}
